# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

[plugins.zsh-defer]
github = 'romkatv/zsh-defer'

[templates]
defer = '{% for file in files %}zsh-defer source "{{"{{ file }}"}}"{% endfor %}'

[plugins.completion]
inline='''
fpath=(~/.zsh $fpath)

autoload -U compinit
compinit -u

# 補完に色
autoload -U colors
colors
zstyle ':completion:*' list-colors "${LS_COLORS}"

# 単語の入力中でもTab
setopt complete_in_word

zstyle ':completion:*:default' menu select=1 # 補完のハイライト
zstyle ':completion::complete:*' use-cache true # キャッシュ使う
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}' # 大文字小文字の区別をしない
setopt list_packed
'''

[plugins.chore]
inline = '''
setopt auto_cd # dir名だけでcd
'''

[plugins.aqua]
inline = '''
export AQUA_PROGRESS_BAR=true
'''

[plugins.alias]
inline = '''
alias cat="bat"
alias ls="eza --icons"
alias lg="lazygit"
'''

[plugins.keybind]
inline = '''
function peco-ghq() {
  cd $(gh q list | sk --preview "bat {1}/README.md")
  zle reset-prompt
}
zle -N peco-ghq
bindkey '^G' peco-ghq
'''

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[plugins.ssh_exe]
inline = 'alias ssh="ssh.exe"'
{{  end }}
{{ end }}

[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"
apply = ["defer"]

[plugins.zsh-completions]
github = "zsh-users/zsh-completions"
apply = ["defer"]

[plugins.zsh-syntax-highlighting]
github = "zsh-users/zsh-syntax-highlighting"
apply = ["defer"]

[plugins.starship]
inline = 'eval "$(starship init zsh)"'

[plugins.mise]
inline = 'eval "$(~/.local/bin/mise activate zsh)"'
