# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

[plugins.zsh-defer]
github = 'romkatv/zsh-defer'

[templates]
defer = '{% for file in files %}zsh-defer source "{{"{{ file }}"}}"{% endfor %}'

[plugins.completion]
inline='''
fpath=(~/.zsh $fpath)

autoload -U compinit
compinit -u

# 補完に色
autoload -U colors
colors
zstyle ':completion:*' list-colors "${LS_COLORS}"

# 単語の入力中でもTab
setopt complete_in_word

zstyle ':completion:*:default' menu select=1 # 補完のハイライト
zstyle ':completion::complete:*' use-cache true # キャッシュ使う
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}' # 大文字小文字の区別をしない
setopt list_packed
'''

[plugins.chore]
inline = '''
setopt auto_cd # dir名だけでcd
'''

[plugins.aqua]
inline = '''
export AQUA_PROGRESS_BAR=true
'''

[plugins.alias]
inline = '''
alias cat="bat"
alias ls="eza --icons"
alias lg="lazygit"
alias st="git status"
alias pull="git pull"
alias g="git"
alias gi="git"
alias nv="nvim"
alias vim="nvim"
alias vi="nvim"
alias cz="chezmoi"
alias devcon="devcontainer"
'''

[plugins.keybind]
inline = '''
function ghq-fzf() {
  local src=$(ghq list | fzf --preview "bat --color=always --style=header,grid --line-range :80 $(ghq root)/{}/README.*")
  if [ -n "$src" ]; then
    BUFFER="cd $(ghq root)/$src"
    zle accept-line
  fi
  zle -R -c
}
zle -N ghq-fzf
bindkey '^g' ghq-fzf
'''

[plugins.tre]
inline = '''
tre() {
  command tre "$@" -e && source "/tmp/tre_aliases_$USER" 2>/dev/null;
}
alias tree="tre"
'''

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[plugins.ssh_exe]
inline = 'alias ssh="ssh.exe"'
{{  end }}
{{ end }}

[plugins.pnpm_home]
inline = '''
export PNPM_HOME="/home/alliana/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
'''

[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"
apply = ["defer"]

[plugins.zsh-completions]
github = "zsh-users/zsh-completions"
apply = ["defer"]

[plugins.zsh-syntax-highlighting]
github = "zsh-users/zsh-syntax-highlighting"
apply = ["defer"]

[plugins.starship]
inline = 'eval "$(starship init zsh)"'

[plugins.mise]
inline = 'eval "$(~/.local/bin/mise activate zsh)"'
