#window {
margin: 0px;
border: 1px solid #00c4d7;
background-color: rgba(16, 16, 21, 0.8);
}

#input {
margin: 5px;
border: none;
color: #fffdfb;
background-color: #3e4044;
}

#inner-box {
margin: 5px;
border: none;
background-color: #181b1f;
}

#outer-box {
margin: 5px;
border: none;
background-color: #181b1f;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #aeaeae;
} 

#entry:selected {
background-color: #f2e6d4;
color: #181b1f
}
