[include]
  path = "/home/alliana/.config/git/catppuccin.gitconfig"
[user]
  email = 56180684+Allianaab2m@users.noreply.github.com
  name = Alliana

[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFLmR7uSY/Aj8w5VeojtLp8w0ba4tQnUIOzoe8GMkvsM

[gpg]
  format = ssh

[url "git@github.com:"]
  pushInsteadOf = https://github.com
[ghq]
  user = Allianaab2m

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[gpg "ssh"]
  program = "/mnt/c/Users/Alliana/AppData/Local/1Password/app/8/op-ssh-sign-wsl"
[core]
  sshCommand = ssh.exe
{{   end }}
{{ end }}

[gpg "ssh"]
  allowedSignersFile = "~/.ssh/allowed_signers"

[commit]
  gpgsign = true

[push]
  default = current

[init]
  defaultBranch = main

[fetch]
  prune = true

[core]
  pager = delta

[interactive]
  diffEnter = delta --color-only

[delta]
  navigate = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[delta]
  line-numbers = true
  features = catppuccin-mocha
