#!/usr/bin/env zsh

{{ if eq .chezmoi.os "linux" }}
sudo apt update
sudo apt install -y \
	curl \
	git \
	wget \
	nala \
  automake \
  libncurses-dev \
  build-essential \
  libffi-dev \
  libffi8 \
  libgmp-dev \
  libgmp10 \
  libncurses-dev \
  pkg-config \
  python3-lxml \

# cargo
curl https://sh.rustup.rs -sSf | sh

# mise
curl https://mise.run | sh

# aqua
curl -sSfL https://raw.githubusercontent.com/aquaproj/aqua-installer/v3.0.1/aqua-installer | bash
ln -sf ~/.local/share/aquaproj-aqua/bin/aqua ~/.local/bin/aqua
{{ end }}
