#!/usr/bin/env zsh

{{ if eq .chezmoi.os "linux" }}
sudo apt update
sudo apt install -y \
	bat \
	curl \
	eza \
	fd-find \
	git \
	gh \
	ripgrep \
	wget \
	nala
# cargo
curl https://sh.rustup.rs -sSf | sh

# sheldon
~/.cargo/bin/cargo install sheldon

# starship
curl -sS https://starship.rs/install.sh | sh -s -- --yes

# mise
curl https://mise.run | sh

source ~/.zshrc
{{ end }}
