#!/usr/bin/env zsh

{{ if eq .chezmoi.os "linux" }}
sudo apt update
sudo apt install -y \
	curl \
	git \
	wget \
	nala \

# cargo
curl https://sh.rustup.rs -sSf | sh

# mise
curl https://mise.run | sh

# aqua
curl -sSfL https://raw.githubusercontent.com/aquaproj/aqua-installer/v3.0.1/aqua-installer | bash
ln -sf ~/.local/share/aquaproj-aqua/bin/aqua ~/.local/bin/aqua

# kerl(Erlang)
curl -o ~/.local/bin/kerl https://raw.githubusercontent.com/kerl/kerl/master/kerl
chmod a+x ~/.local/bin/kerl
{{ end }}
