#!/usr/bin/env zsh

{{ if eq .chezmoi.os "linux" }}
# bat cache build
bat cache --build

# install github-cli extensions
{{ if ne .chezmoi.username "runner"}}
gh extension install HikaruEgashira/gh-q
{{ end }}

# install pipx for mise backend
pip install --user pipx
{{ end }}
