#!/usr/bin/env zsh

{{ if eq .chezmoi.os "linux" }}
export AQUA_GLOBAL_CONFIG=${HOME}/.config/aqua/aqua.yaml
~/.local/bin/aqua i -a

# bat cache build
bat cache --build

# install github-cli extensions
{{ if ne .chezmoi.username "runner"}}
gh extension install HikaruEgashira/gh-q
{{ end }}

# install pipx for mise backend
pip install --user pipx
{{ end }}
