#!/usr/bin/env zsh

{{ if eq .chezmoi.os "linux" }}
export AQUA_GLOBAL_CONFIG=${HOME}/.config/aqua/aqua.yaml
~/.local/bin/aqua i -a

# bat cache build
bat cache --build

# install github-cli extensions
{{ if ne .chezmoi.username "runner"}}
gh extension install HikaruEgashira/gh-q
{{ end }}

# install online-judge-tools
eval "$(~/.local/bin/mise activate zsh)"
mise shell python@3.11
pipx install online-judge-tools --python $(which python)
{{ end }}
