name: Add comment
on:
  - push
jobs:
  comment-tool-versions:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v4
      - name: "Make PR Comment body"
        id: comment
        run: |
          pr_comment_body=''
          aqua_output=$(aqua list --installed -a)
          mise_output=$(mise ls)
          pr_comment_body=$(cat << EOF
          aqua managed tools
          <code>${aqua_output}</code>
          mise managed runtimes
          <code>${mise_output}</code>
          EOF

          echo ::set-output name=result::${pr_comment_body}
      - name: "PR comment on Update in CI"
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: Installed tools
          recreate: true
          message: |
            ${{ steps.comment.outputs.result }}

          
